.daily{
    position: relative;
    margin-top: 150px;
    justify-items: center;
    background-color: #DFFBD1 !important;
}
#summary, #gaps{
    width:500px;
    line-height: 1.6;

}
#feedback {
    padding: 20px;
    font-size: 22px;
    background: #DFFBD1;
    color: #c2430cff;
    text-align: center;
    max-width: 800px;
    line-height: 1.6;
    word-wrap: break-word; 
}
