h2{
    text-align: center;
    top: 0;
    color: #1B4904;
    font-size: 45px;
    text-shadow: 1px 1px;
    margin-bottom: 10px;
}

.entry-container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 900px;
    justify-content: center;
}


.entry-box, .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 45%;
    background: #88C16C;
    padding: 10px;
    margin: 10px;
    border: 2px solid #DFFBD1;
    border-radius: 8px;
    box-shadow: 0 4px 15px #1B4904;
}

.entry-box h3{
  margin-bottom: 5px;
  text-align: center;
  font-style: italic;
  font-size: 25px;
}
.form{
    position: relative;
    margin-top: 100px;
    height: 550px;
    border-radius: 10px;
}

input, textarea{
    width: 100%;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 30px;
    padding: 20px;
    margin: 5px;
    background-color: #DFFBD1;
    height: 50px;
}
tr{
    width: 100%;
}
td{
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: lighter;
}
#td1{
    width: 500px;
}
textarea{
    height: 90%;
    width: 90%;
}
button, .submit{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1B4904;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 25px;
    padding: 10px;
}
button:hover, .submit:hover{
    color: #1B4904;
    background-color: #88C16C;
    border: solid  1px  #1B4904 ;
}
.entry-box table{
    margin: 0 auto;
    width: auto;
}
.submit{
    bottom: 100%;
    position: relative;
}
