h2{
    text-align: center;
    top: 0;
    color: #1B4904;
    font-size: 50px;
    text-shadow: 1px 1px;
}

.entry-container, .container{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    width: 1300px;
    justify-content: center;
}


.entry-box, .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 45%;
    background: #88C16C;
    padding: 30px;
    margin: 10px;
    border: 2px solid #DFFBD1;
    border-radius: 8px;
    box-shadow: 0 4px 15px #1B4904;
}

.entry-box h3{
  margin-bottom: 10px;
  text-align: center;
  font-style: italic;
  font-size: 30px;
}
.form{
    position: relative;
    margin-top: 100px;
    background-color: #DFFBD1;
    height: 700px;
    border-radius: 10px;
}

input, textarea{
    width: 100%;
    min-height: 50px;
    border: 2px solid rgb(187, 187, 187);
    border-radius: 30px;
    padding: 20px;
    margin: 5px;
    background-color: #DFFBD1;
}
tr{
    width: 100%;
}
td{
    width: 800px;
    color: white;
    font-size: 40px;
    font-weight: lighter;
}
#td1{
    width: 500px;
}
textarea{
    height: 90%;
    width: 90%;
}
button, .submit{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #1B4904;
    color: white;
    border: none;
    border-radius: 30px;
    font-size: 30px;
    padding: 10px;
}
button:hover, .submit:hover{
    color: #1B4904;
    background-color: #88C16C;
    border: solid  1px  #1B4904 ;
}
.entry-box table{
    margin: 0 auto;
    width: auto;
}
.submit{
    bottom: 100%;
    position: relative;
}

@media (max-width: 800px) { 
    body{
        background: #DFFBD1;
    }
    h2{
        font-size: 40px;
    }
    input, textarea{
        width: 80%;
    }
    textarea{
        height: 80%;
    }
    .entry-container, .container, .add_new{
        width: 90%;
         max-width: 100%;
    }
    .form{
        width: 100%;
        justify-items: center;
    }
    .form h3, .add_new_container h3{
        text-align: center !important;
        font-size: 25px !important;
    }
    #td1{
        font-size: 25px;
        width: 30%;
    }
    .entry-box, .add_new{
        flex: 1 1 100%;
    }
    .header img{
        display: none;
    }
    button, #submit, #add{
       bottom: -20%; 
       text-align: center;
    }
    .habit-list, .users-list{
        width: 100% !important;
        margin-top: 0;
    } 
    .add_new_container{
        position: static !important;
       transform: translateY(50%);
    }

    .add_new{
        flex-direction: column;
        align-items: center;
        background-color: #DFFBD1 !important;
    }
    .add_new input, #add_new{
        width: 50% !important;
        margin-top: 10px;
        font-size: 16px;
    }
    #show_habits_btn{
        transform: translateY(100%);
    }
    body{
        display: block;
    }
    .charts{
        grid-template-columns: repeat(1, minmax(300px, 1fr)) !important;

    }
  
}
.box{
    margin-top: 50px !important;
}

.box h1{
    font-size: 50px;
    text-shadow: 1px 1px #DFFBD1;
    margin-bottom: 10px;
    color: #1B4904;
    padding: 10px;
    letter-spacing: 1px;
}
.box p{
    font-size: 30px;
    color: #1B4904;
    margin: 5px 0;
}
#feedback, #message{
    padding: 20px;
    font-size: 30px;
    background: #DFFBD1;
    color: #c2430cff;
}
.daily{
    position: relative;
    margin-top: 100px;
    justify-items: center;
}
.weekly button{
    position:relative;
}
.weekly li{
    font-size: 20px;
    padding: 5px;
}
.input-edit{
    border: 2px solid #DFFBD1 !important;
}
.habit-list, .users-list{
    position: relative;
    display: flex;
    margin: 10px;
    height: 70px;
    width: 900px;
    
    border: 2px solid #1B4904 !important;
    border-radius: 10px;
    background-color: #1B4904;
}

.habit-list a, .habit-list span, .habit-list i,
.users-list a, .users-list span, .users-list i{
    transform: translateY(25%);
    font-size: 20px;
    color: #DFFBD1;
    margin-right: 20px;
}
.habit-list input, .users-list input{
    border: 1px solid #1B4904;
    background-color: #1B4904;
    font-size: 20px;
    color: #DFFBD1;
}
.habit-list span, .users-list span{
    font-size: 30px;
    margin-left: 20px;
}

.add_new{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 70px;
    width: 800px;
    border-radius: 10px;
    background-color: #f0fff0;
}
#add_new{
    color: #1B4904;
    background-color: #88C16C;
    border: 2px solid  #1B4904 ;
    border-radius: 30px;
    font-size: 25px;
    padding: 15px;
}
#add_new:hover{
    color:  #88C16C;
    background-color: #1B4904;

}
.add_new_container{
    position: absolute;
    top: 20%;
}
.add_new_container h3{
    font-size: 35px;
}
#show_habits{
    padding: 10px;
    position: relative;
    margin-top: 50px; 

}
#habit_name{
    width: 40%;
}
.habit-list-container, .useres-list-container{
    margin-top: 400px;
}

.charts{
    margin-top: 100px;
    position: relative;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 200px;
    justify-items: center;
    justify-content: center;
    align-items: center;;
}
.hide{
    display: none;
}
#myChart{
    height:400px !important;
}
.weekly{
    width: 100%;
    position: absolute;
}

#users-list .username{
    font-size: 25px;
}
#users-list a{
    color: #DFFBD1;
}
.admin-container{
    position: absolute;
    top: 10%;
}
.chart-Container{
    justify-content: center;
    position: relative;
    padding-left: 25%;
}

.user-info-container {
  padding: 10px 12px;
  background-color: #e6f2ff;
  border-left: 4px solid #007bff;
  border-radius: 6px;
  font-size: 0.9em;
  color: #333;
  display: none;
  z-index: 1;
  height: 125px;
  animation: fadeIn 0.3s ease-in-out;
  float: left;
  position: absolute;
  right: 0;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.user-info-container p {
  margin: 4px 0;
}